<h2>購物車</h2>
<p>
  <a routerLink="/shipping">運費資訊</a>
</p>
<p *ngIf="items.length==0">沒有任何東西</p>

<div class='cart-item' *ngFor="let item of items">
  <span>{{item.name}}</span>
  <span>{{item.price | currency}}</span>

</div>

<form [formGroup]="checkoutForm"
  (ngSubmit)="onSubmit(checkoutForm.value)"
>
<div> <label for="name">姓名</label><input id="name" type="text" formControlName="name"> </div>
<div> <label for="address">地址</label><input id="address" type="text" formControlName="address"> </div>

  <button class="button" type="submit">購買</button>
</form>